@import "tailwindcss";

#root{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Poppins" ,sans-serif;
}
body{
  
  -webkit-font-smoothing: antialiased;
  background-color: #ffff; 
  color: #111827;           /* Tailwind gray-900 */
  box-sizing: border-box;
}