@import "tailwindcss";

#root{
  height: 100%;
  margin: 0;
  padding: 0;
  
}
body{
  
  -webkit-font-smoothing: antialiased;
  background-color: #ffff   ;       /* Tailwind gray-900 */
  color: #4F5055;
  box-sizing: border-box;
  font-family:"Poppins" , Sans-serif;
  letter-spacing: .03em;
 
}